{% extends "scrimio/base.html" %}
{% load static %}

{% block local_jsx %}
	{{ block.super }}
	<script type="text/babel" src="{% static 'dota_mm/js/view_player_teams.jsx' %}"></script>
{% endblock local_jsx %}

{% block banner %}
    <div class="row full-width no-padding dashboard-team-panel index-info-container">
    	<div class="small-0 medium-5 columns"></div>
    	<div class="small-12 medium-2 columns"><h2 class="dashboard-team-header">Teams</h2></div>
    	<div class="small-0 medium-5 columns"></div>
		<div class="small-12 columns content-wrapper" id="react-team-view" data-endpoint="{% url 'dota:api-team-player-list' player_id %}" >
		</div>
	</div>
{% endblock banner %}