/************** VARIABLE STYLES **************/
$primary-color: #49495C;
$vibrant-color: #FFFFFF;

$header-bar-height:3em;

/************** GENERAL STYLES **************/
p, h1, h2, h3, h4, h5, a {
	font-family: 'Arimo', sans-serif;
	color:white;
}

h2 {
	font-family: 'Arimo', sans-serif;
	font-weight: 500;
}

div {
	margin-left: 0em;
}

button:focus {
	outline:0;
}

.fade {
	opacity: 0;
}

.centered-text{
	text-align: center;
}

.circle{
	width: 25px;
	height: 25px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.column, .columns{
	min-height: 1px;
}

/* Used to disable columns padding */
.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}

/* Spacing between page sections */
.section-break
{
	margin-bottom: 3em;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/* Width wrapper for content */
.content-wrapper {
	margin-left: 0em !important;
	margin-right: 0em !important;
	padding-right: 7em;
	padding-left: 7em;
}

.expandable{
	display:none;
}

/*************** HEADER BASE ***************/
.top-bar {
	background-color: $primary-color;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	max-height: $header-bar-height;
	height: $header-bar-height;
}

.top-bar div {
	height: 3em;
	max-height: 3em;
	line-height: 3em;
}

.logo-area {
	padding-left: 0em;
}

#logo-text {
	color: $vibrant-color;
	font-family: 'Arimo', sans-serif;
	font-weight: 600;
	margin-bottom: 0em;
	margin-top:0.25em;
}

.nav-area{
	text-align: right;
}

.nav-bar-link {
	color: white;
	font-family: 'Arimo', sans-serif;
	font-weight: 400;
	margin-bottom: 0em;
	margin-top:0.25em;
	text-transform: capitalize;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/* Ensures the right side of the Nav Bar has no margin-right */
#nav-bar-link-clear {
	margin-right: 0em;
}
.nav-bar-link:hover{
	color: $vibrant-color;
}

/*************** INDEX  PAGE ***************/
.fullscreen-video{
	width: auto;
	position:relative;
	z-index:-1;
	display:block;
}

.video-tagline-row{
	position: absolute;
	margin-left: 0px !important;
	margin-right: 0px !important;
	max-width: 100%;
	height: 100%;
	overflow: auto;
	top: $header-bar-height; left: 0; bottom: 0; right: 0;
}

.video-tagline{
	text-transform: uppercase;
	color:white;
	font-size:4em;
	text-align: center;
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	margin-top: 18%;
}

.video-container{
	/*display:relative;*/
	width:100%;
	height:auto;
	background: -moz-linear-gradient(top, rgba(30,87,153,0.68) 0%, rgba(132,244,177,0.47) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(30,87,153,0.68) 0%,rgba(132,244,177,0.47) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(30,87,153,0.68) 0%,rgba(132,244,177,0.47) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1e5799', endColorstr='#7884f4b1',GradientType=0 ); /* IE6-9 */
}

.index-anchor-list-row{
	background: $primary-color;
	height:5em;
}

.index-anchor-list-container{
	margin:0 auto;
	height:5em;
	line-height: 5em;
}

.inline-list{
	height:5em;
	margin:0em;
	padding-top:26px;
	text-align: center;
}

.inline-list li{
	vertical-align: middle;
	color:white;
	font-family: 'Arimo', sans-serif; 
	display: inline;
	font-size: 1em;
	margin-left: 0.85em;
	margin-right: 0.85em;
} 

.index-info-container{ 
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(73,73,92,0.5), 
      rgba(73,73,92,0.5)
    ),
    /* bottom, image */
    url('../img/lol_banner.jpg') center center no-repeat;
	background-repeat:no-repeat;
   	background-size:cover;
	width:100%;
	height:100%;
	max-height:509px;
	max-width:1920px;
}

.index-info-section{
	margin-top: 1em;
	margin-bottom: 1em;
}

.index-signup-container{
	background: $primary-color;
}

.index-info-header{
	font-family: 'Arimo', sans-serif;
	font-size:3em;
}

.index-small-header-icon{
	width:109px;
	height:109px;
	display:block;
    margin:auto;
}

.index-info-what-is-scrimio{
	padding-top: 2em;
	padding-bottom: 2em;
}

.index-support-container{
	padding-top: 3.5em;
	padding-bottom: 2em;
}

.index-what-header-icon-underline{
	height:1px;
	width:11em;
	display:block;
    margin:auto;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgba(255,255,255,0.25);
}

.index-support-header-text{
	color:black;
	margin-bottom: 0em;
}

.index-support-gif-header{
	width:3.5em;
	height:3.5em;
	display: block;
	margin:0 auto;
	margin-bottom:0.5em;
}

.index-support-header-underline{
	height:1px;
	width:25em;
	display:block;
    margin:auto;
    margin-bottom: 1em;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgba(0,0,0,0.25);
}

.index-support-game-icon-container{
	padding-left: 5em;
	padding-right: 5em;
	margin-bottom: 3em;
}

.index-support-game-icon{
	max-width: 8em;
	width: 8em;
	height: auto;
	margin: auto;
	display: block;
}

.info-text{
	color:white;
	font-family: 'Arimo', sans-serif;
}

.signup-header{
	color: white;
	text-align: center;
}

.index-google-login{
	margin-left: auto;
	text-align: center;
	margin-right: auto;
}

.index-google-login-button{
	border-style: solid;
	border-color: $vibrant-color;
	border-width: 0.25em;
	width:12em;
	height:3.5em;
	color:white;
}

.index-google-login-button:hover{
	background-color:$vibrant-color;
}

.index-google-login-button a, a:active, a:visited{
	text-decoration: none;
	color: white;
}

/*************** DOTA TEAM ***************/

.team-entry-row{
	margin-bottom: 1.5em;
}

.team-entry-name{
	border-width: 0px;
	border-bottom-width: 1px;
	border-color:rgba(255,255,255,0.3);
	border-style: solid;

	height: 2em;
	vertical-align:middle;
}

.team-entry-name h3{
	vertical-align:middle;
}

.team-entry-elo{
	border-width: 0px;
	border-bottom-width: 1px;
	border-color:rgba(255,255,255,0.3);
	border-style: solid;

	height: 2em;
	vertical-align:middle;
}

.team-entry-elo p{
	vertical-align:middle;
}

.mm-create-team-header{
	color:black;
}

.react_team_list_team_header{
	font-size:1em;
	color:rgba(255,255,255,0.3);
}
.react_team_list_elo_header{
	font-size: 1em;
	color:rgba(255,255,255,0.3);
}

/*************** DASHBOARD PAGE ***************/
.dashboard-hello-panel{
	text-align: center;
}

.game-info-panel{
	background-color: #646464;
	padding-top: 2em;
	padding-bottom: 2em;
}

.dashboard-game-button{
	padding: 0px 0px 0px 0px;
	margin: auto;
	display: block;
}

.dashboard-game-icon{
	max-width: 8em;
	width: 8em;
	height: auto;
	margin: auto;
	display: block;
}

.dashboard-game-expand{
	max-width: 8em;
	width: 8em;
	height: auto;
	margin: auto;
	display: block;
	color: white;
	background: rgba(0,0,0,0.5);
}

.dashboard-game-panel{
	padding-top:1.75em;
	padding-bottom: 1.75em;
	padding-right: 0em !important;
	padding-left: 0em !important;
}

.dashboard-data-header{
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 1px;
	color:white;
}

.dashboard-data-header-container{
	margin-left: 0px;
	padding-left: 0px;
}

.dashboard-data-entry{
	margin-bottom: 0px;
	background: #646464;
	border-color: white;
	height: 4em;
	min-height: 2em;
}

.dashboard-data-entry p{
	color:white;
}

.dashboard-team-panel{
	padding-top: 2em;
	padding-bottom: 2em;
}

.dashboard-team-player-entry-row{
	padding-left: 15px;
}

.dashboard-team-header{
	line-height:1em;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: rgba(255,255,255, 0.3);
	border-bottom-style: solid;
}

.dashboard-team-select-button{
	color:white;
	font-size:1.9375em;
	vertical-align: bottom;
	text-align: left;
	width:100%;
}

.dashboard-team-select-button:hover{
	background: rgba(255,255,255,0.09);
}

.dashboard-team-entry-player{
	background: #2A2A2A;
}

.dashboard-data-entry-left-clear{
	margin-left:1em;
}

.dashboard-data-entry:hover{
	background: white;
}

.dashboard-data-entry:hover p{
	color: black;
}

.dashboard-data-entry div{
	height: 4em;
	min-height: 2em;
}

.dashboard-player-status {
	width: 0.75em !important;
	height: 0.75em !important;
	min-height: 0.75em !important;
	min-width: 0.75em !important;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}

.player-offline{
	background-color:white;
}

.player-online{
	background-color:$vibrant-color;
}

/* Footer Base */
.bottom-bar {
	margin-top: 0em;
	min-height: 10em;
	height: auto;
	background-color: $primary-color;
}
