{% load compress %}
{% load static %}
<!DOCTYPE html>
</html>
	<head>
		{% block remote_javascript %}
		<!-- ReactJS Front End -->
		<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
	    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
	    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	    <!-- JQuery -->
	    <script src="https://unpkg.com/jquery@2.1.0/dist/jquery.min.js"></script>
	    <!-- Foundation Compressed JavaScript -->
		<script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
		{% endblock remote_javascript %}

		<!-- Local, Compressed Javascript -->
		{% compress js %}
		{% block local_javascript%}
		{% endblock local_javascript %}
		{% endcompress %}

		<!-- Local JSX -->
		{% block local_jsx %}
		{% endblock local_jsx %}
		
		{% block remote_css %}
		<!-- Foundation Compressed CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">
		<!-- Viewport Set -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Font Loading -->
		<link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
		{% endblock remote_css %}


		{% compress css %}
		{% block local_css %}
		<!-- Load Base.css Stylesheet-->
		<link rel="stylesheet" type="text/x-scss" href="{% static 'scrimio/css/base.scss' %}">
		{% endblock local_css %}
		{% endcompress %}

		{% block title %}
		<title>Scrimio</title>
		{% endblock title %}
		
	</head>
	<body>
		<!-- In-Page Header -->
		<div class="row top-bar full-width content-wrapper">
			<div class="small-3 columns logo-area">
				<h4 id='logo-text'>SCRIMIO</h4>
			</div>
			<div class="small-9 columns nav-area">
				<a class ="nav-bar-link" href="{% url 'index' %}">Home</a>
				<a class ="nav-bar-link" href="{% url 'user:user-dashboard' %}">Profile</a>
				<a class ="nav-bar-link" href="{% url 'dota:player-team-list' %}">Teams</a>
				<a class ="nav-bar-link" id="nav-bar-link-clear" href="">Tournaments</a>
			</div>
		</div>
		<!-- Page Content -->
		<div class="content">
			<!-- Full Width Content-->
			{% block banner %}
			{% endblock banner %}

			<!-- Standard Content -->
			<div class="row content-wrapper">
				{% block content %}
				{% endblock content %}
			</div>

			{% block full_width_content %}
			{% endblock full_width_content %}
		</div>
		<div class="row bottom-bar full-width content-wrapper">
		</div>
	</body>
</html>
