/************** VARIABLE STYLES **************/
/************** GENERAL STYLES **************/
/* line 6, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
p, h1, h2, h3, h4, h5, a {
  font-family: 'Raleway', sans-serif; }

/* line 10, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500; }

/* line 15, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
div {
  margin-left: 0em; }

/* line 19, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.column, .columns {
  min-height: 1px; }

/* Used to disable columns padding */
/* line 24, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.no-padding {
  padding-left: 0px;
  padding-right: 0px; }

/* Spacing between page sections */
/* line 30, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.section-break {
  margin-bottom: 3em; }

/* line 35, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

/* Width wrapper for content */
/* line 43, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.content-wrapper {
  padding-right: 7em;
  padding-left: 7em; }

/*************** HEADER BASE ***************/
/* line 49, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.top-bar {
  background-color: #3A4A4D;
  margin-bottom: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  max-height: 3em;
  height: 3em; }

/* line 58, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.top-bar div {
  height: 3em;
  max-height: 3em;
  line-height: 3em; }

/* line 64, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.logo-area {
  padding-left: 0em; }

/* line 68, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
#logo-text {
  color: #FF9C5F;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 0em;
  margin-top: 0.25em; }

/* line 76, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.nav-area {
  text-align: right; }

/* line 80, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.nav-bar-link {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 0em;
  margin-top: 0.25em;
  text-transform: uppercase;
  margin-left: 0.5em;
  margin-right: 0.5em; }

/* Ensures the right side of the Nav Bar has no margin-right */
/* line 92, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
#nav-bar-link-clear {
  margin-right: 0em; }

/* line 95, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.nav-bar-link:hover {
  color: #FF9C5F; }

/*************** INDEX  PAGE ***************/
/* line 100, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.index-hello {
  padding-left: 0em; }

/*************** PROFILE PAGE ***************/
/* line 105, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-hello-panel {
  text-align: center; }

/* line 109, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-button {
  padding: 0px 0px 0px 0px;
  margin: auto;
  display: block; }

/* line 115, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-icon {
  max-width: 8em;
  width: 8em;
  height: auto;
  margin: auto;
  display: block; }

/* line 123, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-expand {
  width: 100%;
  height: auto;
  margin: auto; }

/* line 129, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-panel {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  padding-right: 0em !important;
  padding-left: 0em !important; }

/* Footer Base */
/* line 137, /mnt/c/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.bottom-bar {
  margin-top: 2em;
  min-height: 10em;
  height: auto;
  background-color: white; }
