/************** VARIABLE STYLES **************/
/************** GENERAL STYLES **************/
/* line 6, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
p, h1, h2, h3, h4, h5, a {
  font-family: 'Raleway', sans-serif; }

/* line 10, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500; }

/* line 15, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
div {
  margin-left: 0em; }

/* line 19, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.fade {
  opacity: 0; }

/* line 23, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.column, .columns {
  min-height: 1px; }

/* Used to disable columns padding */
/* line 28, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.no-padding {
  padding-left: 0px;
  padding-right: 0px; }

/* Spacing between page sections */
/* line 34, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.section-break {
  margin-bottom: 3em; }

/* line 39, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

/* Width wrapper for content */
/* line 47, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.content-wrapper {
  padding-right: 7em;
  padding-left: 7em; }

/*************** HEADER BASE ***************/
/* line 53, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.top-bar {
  background-color: #3A4A4D;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  max-height: 3em;
  height: 3em; }

/* line 62, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.top-bar div {
  height: 3em;
  max-height: 3em;
  line-height: 3em; }

/* line 68, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.logo-area {
  padding-left: 0em; }

/* line 72, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
#logo-text {
  color: #FF9C5F;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 0em;
  margin-top: 0.25em; }

/* line 80, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.nav-area {
  text-align: right; }

/* line 84, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.nav-bar-link {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 0em;
  margin-top: 0.25em;
  text-transform: uppercase;
  margin-left: 0.5em;
  margin-right: 0.5em; }

/* Ensures the right side of the Nav Bar has no margin-right */
/* line 96, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
#nav-bar-link-clear {
  margin-right: 0em; }

/* line 99, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.nav-bar-link:hover {
  color: #FF9C5F; }

/*************** INDEX  PAGE ***************/
/* line 104, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.fullscreen-video {
  width: auto;
  position: relative;
  z-index: -1;
  display: block; }

/* line 111, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.video-container {
  display: inline-block;
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0.68) 0%, rgba(132, 244, 177, 0.47) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0.68) 0%, rgba(132, 244, 177, 0.47) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30, 87, 153, 0.68) 0%, rgba(132, 244, 177, 0.47) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1e5799', endColorstr='#7884f4b1',GradientType=0 );
  /* IE6-9 */ }

/* line 119, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.index-info-section {
  margin-top: 2em; }

/* line 123, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.index-info-section li {
  color: #3A4A4D; }

/* line 127, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.index-info-section h2 {
  color: #3A4A4D; }

/* line 131, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
#index-games-list ul {
  width: 50%;
  margin: auto; }

/* line 136, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
#index-games-list h2 {
  width: 60%;
  margin: auto; }

/* line 141, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
#index-features-list ul {
  width: 60%;
  margin: auto; }

/* line 146, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
#index-features-list h2 {
  width: 69%;
  margin: auto; }

/* line 151, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.index-signup-container {
  background: #3A4A4D; }

/* line 155, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.signup-header {
  color: white;
  text-align: center; }

/* line 160, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.index-google-login {
  margin-left: auto;
  text-align: center;
  margin-right: auto; }

/*************** DOTA TEAM ***************/
/* line 168, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.team-entry-name {
  background: rgba(18, 17, 19, 0.15);
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  height: 4em; }

/* line 177, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.team-entry-name h3 {
  vertical-align: middle; }

/* line 181, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.team-entry-elo {
  background: rgba(18, 17, 19, 0.15);
  outline-width: 1px;
  outline-color: white;
  outline-style: solid;
  height: 4em;
  vertical-align: middle; }

/* line 191, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.team-entry-elo p {
  vertical-align: middle; }

/*************** PROFILE PAGE ***************/
/* line 198, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-hello-panel {
  text-align: center; }

/* line 202, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-button {
  padding: 0px 0px 0px 0px;
  margin: auto;
  display: block; }

/* line 208, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-icon {
  max-width: 8em;
  width: 8em;
  height: auto;
  margin: auto;
  display: block;
  background: rgba(0, 0, 0, 0.5); }

/* line 217, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-expand {
  max-width: 8em;
  width: 8em;
  height: auto;
  margin: auto;
  display: block; }

/* line 225, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-panel {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  padding-right: 0em !important;
  padding-left: 0em !important; }

/* Footer Base */
/* line 233, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.bottom-bar {
  margin-top: 2em;
  min-height: 10em;
  height: auto;
  background-color: #3A4A4D; }
