/************** VARIABLE STYLES **************/
/************** GENERAL STYLES **************/
/* line 6, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
p, h1, h2, h3, h4, h5, a {
  font-family: 'Raleway', sans-serif; }

/* line 10, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500; }

/* line 15, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
div {
  margin-left: 0em; }

/* line 19, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.column, .columns {
  min-height: 1px; }

/* Used to disable columns padding */
/* line 24, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.no-padding {
  padding-left: 0px;
  padding-right: 0px; }

/* Spacing between page sections */
/* line 30, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.section-break {
  margin-bottom: 3em; }

/* line 35, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

/* Width wrapper for content */
/* line 43, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.content-wrapper {
  padding-right: 7em;
  padding-left: 7em; }

/*************** HEADER BASE ***************/
/* line 49, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.top-bar {
  background-color: #3A4A4D;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  max-height: 3em;
  height: 3em; }

/* line 58, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.top-bar div {
  height: 3em;
  max-height: 3em;
  line-height: 3em; }

/* line 64, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.logo-area {
  padding-left: 0em; }

/* line 68, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
#logo-text {
  color: #FF9C5F;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 0em;
  margin-top: 0.25em; }

/* line 76, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.nav-area {
  text-align: right; }

/* line 80, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.nav-bar-link {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 0em;
  margin-top: 0.25em;
  text-transform: uppercase;
  margin-left: 0.5em;
  margin-right: 0.5em; }

/* Ensures the right side of the Nav Bar has no margin-right */
/* line 92, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
#nav-bar-link-clear {
  margin-right: 0em; }

/* line 95, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.nav-bar-link:hover {
  color: #FF9C5F; }

/*************** INDEX  PAGE ***************/
/* line 100, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.fullscreen-video {
  width: auto;
  max-height: 720px;
  position: relative;
  z-index: -1;
  display: block; }

/* line 108, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.video-container {
  display: inline-block;
  background: #f2f6f8;
  background: -moz-linear-gradient(left, #f2f6f8 0%, #d8e1e7 0%, #c282b3 0%, #1486d1 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f2f6f8), color-stop(0%, #d8e1e7), color-stop(0%, #c282b3), color-stop(100%, #1486d1));
  background: -webkit-linear-gradient(left, #f2f6f8 0%, #d8e1e7 0%, #c282b3 0%, #1486d1 100%);
  background: -o-linear-gradient(left, #f2f6f8 0%, #d8e1e7 0%, #c282b3 0%, #1486d1 100%);
  background: -ms-linear-gradient(left, #f2f6f8 0%, #d8e1e7 0%, #c282b3 0%, #1486d1 100%);
  background: linear-gradient(to right, #f2f6f8 0%, #d8e1e7 0%, #c282b3 0%, #1486d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#1486d1', GradientType=1 ); }

/* line 121, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.fullscreen-container {
  background-color: black; }

/* line 125, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.index-hello {
  padding-left: 0em; }

/*************** PROFILE PAGE ***************/
/* line 130, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-hello-panel {
  text-align: center; }

/* line 134, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-button {
  padding: 0px 0px 0px 0px;
  margin: auto;
  display: block; }

/* line 140, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-icon {
  max-width: 8em;
  width: 8em;
  height: auto;
  margin: auto;
  display: block; }

/* line 148, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-expand {
  width: 100%;
  height: auto;
  margin: auto; }

/* line 154, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.dashboard-game-panel {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  padding-right: 0em !important;
  padding-left: 0em !important; }

/* Footer Base */
/* line 162, /Users/calypse/Workspace/Django/scrimio/scrimio/scrimio/static/scrimio/css/base.scss */
.bottom-bar {
  margin-top: 2em;
  min-height: 10em;
  height: auto;
  background-color: white; }
