/************** VARIABLE STYLES **************/
$primary-color: #3A4A4D;
$vibrant-color: #FF9C5F;

/************** GENERAL STYLES **************/
p, h1, h2, h3, h4, h5, a {
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

div {
	margin-left: 0em;
}

.column, .columns{
	min-height: 1px;
}

/* Used to disable columns padding */
.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}

/* Spacing between page sections */
.section-break
{
	margin-bottom: 3em;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/* Width wrapper for content */
.content-wrapper {
	padding-right: 7em;
	padding-left: 7em;
}

/*************** HEADER BASE ***************/
.top-bar {
	background-color: $primary-color;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	max-height: 3em;
	height: 3em;
}

.top-bar div {
	height: 3em;
	max-height: 3em;
	line-height: 3em;
}

.logo-area {
	padding-left: 0em;
}

#logo-text {
	color: $vibrant-color;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin-bottom: 0em;
	margin-top:0.25em;
}

.nav-area{
	text-align: right;
}

.nav-bar-link {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin-bottom: 0em;
	margin-top:0.25em;
	text-transform: uppercase;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/* Ensures the right side of the Nav Bar has no margin-right */
#nav-bar-link-clear {
	margin-right: 0em;
}
.nav-bar-link:hover{
	color: $vibrant-color;
}

/*************** INDEX  PAGE ***************/
.fullscreen-video{
	width: auto;
	max-height:720px;
	position:relative;
	z-index:-1;
	display:block;
}

.video-container{
	display:inline-block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,84f4b1+100&0.68+0,0.47+100 */
background: -moz-linear-gradient(top, rgba(30,87,153,0.68) 0%, rgba(132,244,177,0.47) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,0.68) 0%,rgba(132,244,177,0.47) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,0.68) 0%,rgba(132,244,177,0.47) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1e5799', endColorstr='#7884f4b1',GradientType=0 ); /* IE6-9 */
}

.index-info-section{
	margin-top: 2em;
}

#index-games-list ul{
	width: 50%;
    margin: auto;
}

#index-games-list h2{
	width: 60%;
    margin: auto;
}

#index-features-list ul{
	width: 60%;
    margin: auto;
}

#index-features-list h2{
	width: 69%;
    margin: auto;
}

.index-signup-container{
	background: $primary-color;
}

.signup-header{
	text-align: center;
}

.index-google-login{
	margin-left: auto;
	text-align: center;
	margin-right: auto;
}

/*************** PROFILE PAGE ***************/
.dashboard-hello-panel{
	text-align: center;
}

.dashboard-game-button{
	padding: 0px 0px 0px 0px;
	margin: auto;
	display: block;
}

.dashboard-game-icon{
	max-width: 8em;
	width: 8em;
	height: auto;
	margin: auto;
	display: block;
}

.dashboard-game-expand{
	width: 100%;
	height: auto;
	margin: auto;
}

.dashboard-game-panel{
	padding-top:1.75em;
	padding-bottom: 1.75em;
	padding-right: 0em !important;
	padding-left: 0em !important;
}

/* Footer Base */
.bottom-bar {
	margin-top: 2em;
	min-height: 10em;
	height: auto;
	background-color: $primary-color;
}