{% extends "scrimio/base.html" %}
{% load static %}

{% block local_jsx%}
	{{ block.super }}
	<script src="{% static 'scrimio/js/cookie.js' %}"></script> <!-- JQuery Cookie Manager-->
	<script type="text/babel" src="{% static 'dota_mm/js/edit_team_form.jsx' %}"></script>
{% endblock local_jsx %}

{% block content %}
	<div class="row">
		<div class="medium-2 columns">
		</div>
		<div class="medium-10 columns">
			<h1>EDIT TEAM</h1>
		</div>
	</div>
	<div class="row">
		<div class="small-0 medium-2 columns">
		</div>
		<div class="small-12 medium-8 columns">
			<div class="row" id="react-team-form" data-get-endpoint="{% url 'dota:api-team-detail' teamPK %}" data-post-endpoint="{% url 'dota:api-team-update' teamPK %}" 
			data-delete-endpoint="{% url 'dota:api-team-destroy' teamPK %}" data-successRedirect="{% url 'dota:team-edit' teamPK %}" data-userPK="{{ user.pk }}" 
			data-deleteRedirect="{% url 'dota:player-team-list' %}" >
			<!-- -->
			</div>
		</div>
		<div class="small-0 medium-2 columns">
		</div>
	</div>
	
{% endblock content %}